.right-menu {
	background-color: #e5e5e5;
}
.left-menu {
	background-color: grey;
}
.right-menu, .left-menu {
	min-height: 100vh;
}
.menu-block {
	width: 80%;
	background-color: #a7b7ed;
	height: auto;
}
.category-title {
	text-align: center;
	margin-top: 50px;
}
.menu-block ul li {
	margin-top: 20px;
	text-align: center;
	list-style-type: none;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
}
a {
	color: black !important;
	text-decoration: none !important;
}
.menu-block ul {
	padding: 0;
	width: 80%;
}
.menu-block ul li:hover {
	background-color: #9eeca5;
}
.munchkin-top-menu {
	padding: 15px 30px 10px 30px;
	margin-top: 15px;
	background-color: #a7b7ed;;
}
.munchkin-top-menu ul li, .cards-options ul li{
	display: inline;
	margin-right: 10px;
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	cursor: pointer;
}
.munchkin-top-menu ul li:hover, .cards-options ul li:hover {
	background-color: #9eeca5;
}
.cards-options ul li.active {
    background-color: #9eeca5;
    cursor: default;
}
.munchkin-content {
	padding: 15px;
	position: relative;
	background-color: white;
	height: 100%;
}
.f-height {
 height: 100%;
}
.f-width {
	width: 100%;
}
.left-menu .f-height {
	padding-bottom: 15px;
}
.munchkin-filters {
	height: 30px;
	border-bottom: 2px solid black;
}
.card {
	border: 1px solid black !important;
	height: 320px;
	margin-top: 20px;
}
.form-div {
    margin-bottom: 30px;
}
.card-image {
    height: 240px;
    margin-bottom: 10px;
    text-align: center
}
.card-image img {
    height: 100%;
}
.card-title {
    text-align: center;
    padding-top: 15px;
}
.card-edit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: .20rem;
}
.card-edit img {
    width: 100%;
    height: 100%;
}
.card-edit:hover {
    background-color: lightblue;
}
